@use 'variables';



/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: variables.$white0;
  border-radius: variables.$s2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: variables.$navy1;
  border-radius: variables.$s2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: variables.$black2;
}

body {
    background: variables.$white0;
    color: variables.$black0;

    --main-max-width: 1300px;
}



.main-wrapper {
    display: grid;

    grid-template-areas: '. .  main  . .';
                         

    grid-template-columns: variables.$s2 1fr minmax(auto, var(--main-max-width)) 1fr variables.$s2;


    main {
        grid-area: main;
    }
}


header {

    --header-height: 4.2em;

    @include variables.google-sans-flex(500);

    display: flex;
    position: relative;

    background: variables.$navy1;
    color: variables.$white1;
    align-items: center;
    height: var(--header-height);
    border-bottom: variables.$s1 solid variables.$green-3;

    .long {
        flex: 1;
        @include variables.respond-to('lg') {
            flex: 0;
        }
    }

    .menu {
        display: flex;
        font-size: 3em;
        @include variables.respond-to('lg') {
            display: none;
        }

        padding: variables.$s2;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;

        &:hover, &.active {
            color: variables.$navy2;
            background: variables.$white5;

        }
    }



    .brand {
        display: flex;
        .title-tag {
            display: flex;
            flex-flow: column;
            gap: variables.$s1;
    
            text-transform: uppercase;

            @include variables.respond-to("md") {
                line-height: variables.$m2;
            }
    
    
            .title {
                @include variables.google-sans-flex(600);
                display: none;
    
                @include variables.respond-to('sm') {
                    display: flex;
                }
    
                align-items: flex-end;
                gap: variables.$s2;
                @include variables.tight;
                @include variables.responsive-font(10, 18);
    
                .tag {
                    display: none;
    
                    @include variables.respond-to('md') {
                        display: flex;
                    }
    
    
                    color: variables.$black1;
                    @include variables.rounded;
                    padding-inline: variables.$s1;
                    align-items: center;
                    background: variables.$green-4;
                    @include variables.responsive-font(10, 13);
                }
            }
    
            span {
    
                display: none;
    
                @include variables.respond-to('md') {
                    display: flex;
                }
    
                @include variables.responsive-font(8, 12);
                @include variables.aldrich;
                color: variables.$grey-1;
            }
        }
    
        .logo {
    
            display: none;
    
            @include variables.respond-to('sm') {
                display: flex;
                justify-content: center;
                align-items: center;
            }
    
            @include variables.responsive-font(12, 18);
            position: relative;
            aspect-ratio: 1;
            width: 1.6em;
            color: variables.$navy-1;
            background: variables.$green-3;
            margin-inline: variables.$m2;
            transform: rotate(45deg);
    
    
            svg {
                transform: rotate(-45deg);
            }
        }
    }

    nav {
        flex: 1;

        display: flex;
        flex-flow: column;
        position: absolute;
        background: variables.$navy1;
        left: -200px;
        padding-right: variables.$l0;
        padding-left: variables.$m1;
        top: var(--header-height);

        &.active {
            left: 0px;
        }

        transition: left .1s;

        @include variables.respond-to('lg') {
            display: flex;
            justify-content: center;
            display: flex;
            gap: variables.$m2;
            position: unset;
            background: transparent;
            flex-flow: row;
        }

        a {
        
           display: flex;
           @include variables.responsive-font(9, 11.5);
           color: variables.$green-3;
           text-transform: uppercase;
           text-decoration: none;
           line-height: variables.$m4;

           border-bottom: variables.$s0 solid transparent;
           &.active {
              border-bottom: variables.$s0 solid variables.$green-3;
           }
        }
    }

    .dash {
        display: flex;
        justify-content: flex-end;
        gap: variables.$s3;

        .status {
            display: flex;
            flex-flow: column;
            align-items: flex-end;
           @include variables.responsive-font(8, 14);
                .label {
                    @include variables.responsive-font(8, 14);
                    color: variables.$grey-1;
                    text-transform: uppercase;
                    @include variables.looser;
                }

            }

            .profile {

                display: flex;

                min-width: variables.$l2;
                @include variables.responsive-font(11, 14);
                margin-inline: variables.$s3;
                color: variables.$white2;
                background: variables.$navy2;
                border-radius: variables.$px;
                border: variables.$px solid variables.$navy0;
                line-height: variables.$m4;

                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                .login, .username {
                    cursor: pointer;
                    text-align: center;
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .login {
                    padding-inline: variables.$s1;
                    &:hover {
                       color: variables.$white1;
                    }
                }

                .username {
                    @include variables.no-select;
                    &:hover {
                       color: variables.$white1;
                       background: variables.$navy-1;
                    }
                }
            }
    }

    .dash-menu {
        flex: 1;

        display: flex;
        flex-flow: column;
        position: absolute;
        background: variables.$navy0;
        right: 0px;
        border-radius: variables.$s0; 
        border: variables.$s0 solid variables.$navy1;
        top: calc(var(--header-height) - variables.$m2);

        &:not(.active) {
            display: none;
        }


        .link {

            display: flex;
            align-items: center;
            gap: variables.$m1;
            padding: variables.$s1 0;
            padding-left: variables.$m1;
            padding-right: variables.$l2;
            @include variables.no-select;
            &:hover {
               background: variables.$navy1;
            }

            svg {
                font-size: variables.$l0;
            }

            &.logout:hover {
               background: variables.$red1;
            }
        }
    }
}

button {

    @include variables.no-select;
}

button.primary {
    display: flex;
    align-items: center;
    border-radius: variables.$s2;
    border: none;
    background: variables.$navy1;
    color: variables.$white2;
    gap: variables.$s1;
    padding: variables.$s2 variables.$s3;

    @include variables.no-select;

    &:hover {
       background: variables.$navy15;
    }

}



button.coherence {
    display: flex;
    align-items: center;
    border-radius: variables.$s2;
    border: variables.$px solid variables.$navy-3;
    background: variables.$navy-2;
    color: variables.$black2;
    gap: variables.$s2;
    padding: variables.$s2 variables.$s3;

    @include variables.no-select;

    &:hover {
       background: variables.$navy-25;
    }

}


button.secondary {
    display: flex;
    align-items: center;
    border-radius: variables.$s0;
    border: variables.$px solid variables.$navy-3;
    background: variables.$navy-3-a;
    color: variables.$navy-6;

    @include variables.no-select;

    &:hover {
       background: variables.$navy-3;
    }

    &.purple {
        border: variables.$px solid variables.$purple-3;
        background: variables.$purple-3-a;
        color: variables.$purple-6;

        &:hover {
           background: variables.$purple-3;
        }
    }
}

main {
    dialog {

        @include variables.fixed-inset;
        width: auto;
        height: auto;
        background-color: variables.$backdrop-color;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);

        & .dialog-backdrop {
            @include variables.fixed-inset;
        }
    }
}


main {
    input[type='text'] {
        background: variables.$navy2;
        border: none;
        padding: variables.$m0;
        border-radius: variables.$m0;

        color: variables.$white1;
        @include variables.google-sans-flex(500);

        &::placeholder {
           color: variables.$grey2;
        }

        &:invalid {
            border: variables.$px dashed variables.$red1;
        }
    }
}